
.grid-background {
    background: #165b98;
  }

  .hidden {
      display: none!important;
  }

  .login-background {
      //background: url("../../../img/bg-pattern.png"), #76b6de;
      background: url('../../images/bg-pattern.png'), #76b6de;
  }

  #login-logo {
    background: none repeat scroll 0 0 #34495e;
    color: #fff;
    display: block;
    font-size: 4em;
    font-weight: 400;
    padding: 30px 20px 20px 20px;
    text-align: center;
  }

  #login-logo>img {
    display: block;
    height: 60px;
    margin: 0 auto;
  }

  #login-error {
    color: red;
    padding-bottom: 20px;
  }

  .login-panel {
    padding-top: 70px;
    padding-right: 50px;
  }